@media (max-width: 991px){
    .promo {
        .container {
            max-width: 910px;
        }
        .header {
            &__official {
                font-size: 20px;
                span {
                    font-size: 22px;
                }
            }
            &__phone {
                font-size: 23px;
            }
            &__contacts {
                button {
                    width: 200px;
                    height: 40px;
                    font-size: 16px;
                }
            }
        }
        &__wrapper {
            margin-top: 55px;
            .promo__subheader {
                display: block;
                max-width: 750px;
            }
            .button_main {
                width: 330px;
                height: 61px;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    .promo {
        min-height: 717px;
        .container {
            max-width: 618px;
        }
        .header {
            font-size: 17px;
            span {
                font-size: 17px;
            }
        }
        &__wrapper {
            .promo__subheader {
                width: 550px;
            }
        }
    }
    .advantages {
        .title {
            font-size: 24px;
        }
        &__item {
            max-width: 227px;
            .advantages__subtitle {
                font-size: 15px;
            }
            .advantages__descr {
                font-size: 12px;
            }
        }
    }
    .consultation {
        .title {
            font-size: 24px;
        }
        .feed-form {
            input {
                height: 35px;
            }
            p {
                font-size: 17px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 90%;
            img {
                width: 550px;
                height: auto;
            }
        }
    }
}

@media (max-width: 575px) {
    .promo {
        .header {
            padding: 0 5px;
            &__logo {
                display: none;
            }
            &__official {
                font-size: 10px;
                span {
                    font-size: 9px;
                }
            }
            &__contacts {
                .header__phone {
                    font-size: 17px;
                    text-align: center;
                }
                button {
                    width: 172px;
                    height: 35px;
                    font-size: 16px;
                }
            }
        }
        &__wrapper {
            margin-top: 36px;
            .promo__header {
                font-size: 32px;
                line-height: 36px;
            }
            .promo__icons {
                margin-top: 38px;
                width: 300px;
            }
            .button_main {
                width: 292px;
                height: 66px;
                margin-top: 39px;
            }
            .promo__subheader {
                width: 300px;
            }
        }
    }
    .advantages {
        .title {
            font-size: 21px;
        }
        &__wrapper {
            margin-top: 36px;
            display: block;
        }
        &__subtitle {
            font-size: 12px;
            margin-top: 20px;
            padding: 0 2px;
        }
        &__item {
            display: flex;
            align-items: center;
            max-width: 300px;
            flex-direction: row;
        }
        &__descr {
            font-size: 11px;
            padding: 0 15px;
        }
    }
    .consultation {
        .title {
            font-size: 16px;
        }
        &__descr {
            font-size: 14px;
        }
        .feed-form {
            input {
                height: 35px;
            }
            p {
                font-size: 14px;
            }
            .button {
                height: 47px;
                font-size: 18px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 90%;
            img {
                width: 250px;
                height: auto;
            }
        }
    }
    .feed {
        &__item {
            display: block;
        }
        &__img {
            display: block;
            margin: 0 auto;
            width: 150px;
            height: 100%;
        }
        &__text {
            margin-left: 15px;
            padding-right: 10px;
            text-align: center;
        }
    }
    
}